[2019-07-12 11:59] layik opened #1 "Theme switching"
One thing I have not been able to work out is being able to switch themes. Currently the major hurdle is "Slider" from BaseUI itself. When using `styled` or `styletron` functions to override css, it complains about some unmounted state issue which definitely does not happen when I remove the overrides affecting `Slider` component.

Pushed it into a new branch for future ref.

[2019-09-06 09:35] layik opened #2 "Production: passing REACT_APP_MAPBOX_ACCESS_TOKEN to container"
The `.env` and then exposing it as `process.env` as per React docs may not be suitable for the production.
The deployment pipelines means we cannot add the MAPBOX access_token to the prebuilt image on DockerHUb.

Seems passing both `REACT_APP_MAPBOX_ACCESS_TOKEN` and `MAPBOX_ACCESS_TOKEN` is not picked up by the JS bundle served.

Looking for a solution.

[2019-09-06 09:45] layik commented on #2
One assumption and a solution:
Assumption: all process.env is bundled during `nom run build` using `react-scripts`
Solution: find out if `ngnix` could pass a variable `?access_token=env_from_e_flag` using a rewrite or something like that.

[2019-09-27 18:09] #1 closed

[2019-09-27 18:12] layik commented on #1
I do not find `baseui`'s `useStyletron`, `styled` and other bits and pieces to achieve this particularly helpful or mature. It could be my lack of deep understanding of the APIs. I have solved it partly using the [`BaseProvider`](https://baseweb.design/components/use-styletron/) from `baseui` along with custom styling.

[2019-11-24 10:23] layik commented on #2
https://medium.com/@thejasonfile/using-dotenv-package-to-create-environment-variables-33da4ac4ea8f

[2019-11-24 10:24] layik commented on #2
`doenv`?

[2019-11-24 10:41] layik commented on #2
Just document the env and ask users to build their own images.

[2019-11-24 10:41] #2 closed

[2019-12-10 18:05] layik opened #3 "DeckGL rerender should not happen"
Currently, the Welcome component does quite a lot for a good reason. It is now time to do less. There is a branch to deal with this `wip` with main problem being a standard React issue of "mirroring state and props" for `viewport`.

The new component should only rerender if "data" or "layers" has changed, but it also needs to change "viewport" if user interacts or location changes. The latter woul

[2019-12-10 18:12] layik opened #4 "React hooks boolean state"
Hooks is used at some of the components in the application as they can be used interchangeably with classes. The aim is to cover the whole application to hooks in future (talking of strategy, had I known typescript, should have written it ts).

Hooks do not rerender if state does not change. I cannot get the component to update state here for example
https://github.com/layik/eAtlas/blob/master/src

[2019-12-11 19:53] layik commented on #4
https://github.com/layik/eAtlas/commit/a0184cc614cfe818e097e78dd66350f791cd63c0

[2019-12-11 19:53] #4 closed

[2019-12-11 19:55] layik opened #5 "Boxplot componet"
React-vis does not have one, I am not sure if I can contribute upstream, but for now [this](https://www.d3-graph-gallery.com/graph/boxplot_basic.html) can get us a nice D3 boxplot for continuous numerical columns.

Or using the React-vis candlestick example
https://github.com/uber/react-vis/blob/master/showcase/examples/candlestick/candlestick.js

[2019-12-18 12:27] layik commented on #5
basic version done.

[2019-12-18 12:27] #5 closed

[2019-12-18 12:29] layik commented on #5
Requires theme'ing but that is not priority.

[2019-12-18 12:30] layik opened #6 "QUANT large scale vis"
The data from QUANT is literally huge. Thanks to Dr Richard Milton from UCL for providing the data.

That means DeckGL layers might not have built in layers to assist. This ticket is a place-holder for that.

[2020-02-12 16:02] layik commented on #6
clearly research area outside the scope of the project but part addressed in #8 PR.

[2020-02-12 16:02] layik commented on #3
Has gone through various iterations. Can safely be closed.

[2020-02-12 16:02] #3 closed

[2020-02-12 16:03] #6 closed

[2020-03-16 04:33] neon-ninja opened #9 "backend performance"
Hi Layik,

Thanks for making this open source! I had a few questions about your implementation, apologies if these questions would be better suited to the geoplumber repository:

It seems to me that the R backend / geoplumber is used to read geospatial data, convert it to geojson if necessary, and then serve the geojson via API. However, why not cut out the middleman, and get the browser to load g

[2020-03-16 12:51] layik commented on #9
Hello Nick!

Thanks for looking into the eAtlas and I understand the issue. However, browsers are built with CORS and are strictly implemented (rightly so) and "web servers" are also increasingly add HTTP headers which means querying theme from a browser will not be allowed.

So this will hopefully be covered in some documentation, remember the repo still has a "WIP" badge on it. So your contribut

[2020-03-16 19:55] neon-ninja commented on #9
Thanks for your reply. I think the CORS issue would be solved by the CDN - https://raw.githack.com/ for example adds `access-control-allow-origin: *` to all responses. Yes, it seems possible to use the "Add data" modal with this sample URL https://rawcdn.githack.com/datasets/geo-countries/cd9e0635901eac20294a57ee3b3ce0684d5e3f1a/data/countries.geojson - however this seems to only work with a older

[2020-03-17 09:48] layik commented on #9
I thought when I last prepared a demo [this](https://github.com/layik/eAtlas/blob/3a208a808b7ad0327ebe186e6378e90382087f21/src/components/URL.jsx#L18) worked fine.

It needs an enter key after typing/pasting URLs, you are right it used to keep checking as user typed. Should I remove the need for enter key? Can you run the dev frontend on its on?

The eatlas.geoplumber.com instance does not pull la

[2020-03-18 09:59] layik commented on #9
@neon-ninja now both http://geoplumber.com and the subdomain point to some tiny amount of data. I cannot get the UK breakdown as it has been locked away by ArcGIS. But should look decent with the theme branch merged into it. http://geoplumber.com

Not quite related to the ticket I know.

[2020-03-23 02:35] neon-ninja commented on #9
Hi @layik - nice - that 30KB loads way faster (631 ms). I think requiring an enter key is fine - you don't want to be firing off 404s as the user types. Yes, I was able to run the dev frontend on it's own with npm start. https://rawcdn.githack.com/datasets/geo-countries/cd9e0635901eac20294a57ee3b3ce0684d5e3f1a/data/countries.geojson seems to work in geoplumber.com and the subdomain now - one of yo

[2020-03-30 16:07] BenHarries opened #10 ""Icon" layer style has issues aggregating in some areas"
Just a friendly issue after we picked up that for example icons only show once you zoom in enough which should perhaps aggregate to a nearer icon.

[2020-03-31 10:09] #10 closed

[2020-03-31 10:09] BenHarries commented on #10
Caused this issue for myself I realise!

[2020-04-29 09:19] layik opened #12 "React-vis deprecation response"
https://github.com/uber/react-vis/issues/1303

[2020-04-29 11:37] layik commented on #12
Reacharts is the immediate candidate:
https://github.com/recharts/recharts

[2020-04-30 08:29] layik commented on #12
Recharts looks more promising, I must dig the status of React in there, although the React team are considerate of backward compatibility. Its great talking to myself here.

[2020-05-07 14:29] layik opened #13 "npm package publish"
- [x] clean up and branch here
- [x] tested locally
- [x] minified as one file (not easy due to composite layer)
- [ ] other?

[2020-06-04 09:02] layik commented on #13
https://www.npmjs.com/package/eatlas

[2020-06-04 09:02] #13 closed

[2020-06-04 09:05] layik opened #14 "DeckGL layers npm package - scoping options"
There are two imminent DeckGL layers in the horizon. With the WP bar vis almost ready to put on npm js.

1. scoped? Yes!
2. How? don't know, options are:
* `@eatlas/eatlas`, `@eatlas/deckgl-barlayer` etc
* `@layik/barlayer` ... dont like this
* ?

[2020-06-04 09:05] layik commented on #14
https://pbs.twimg.com/media/EZjGHSoXsAAQWs8?format=jpg&name=medium

[2020-08-14 09:18] layik commented on #9
Here is what you might like to hear @neon-ninja and for anyone else landing here. I now know that R package `data.table` can beat even Redis. I will try to publish that in a blog post but the C code in `data.table` is literally fastest thing I have ever touched.

I subset 52M rows in "real" time. It is even faster than generating maptiles. Why? Becuase I do not need to generate multiple tiles/geoj

[2020-08-14 09:39] layik opened #15 "Colour domain optimisation"
Do the domain generation only once.

[2020-08-14 10:51] #15 closed

[2021-01-07 13:37] layik commented on #14
This whole custom layer WIP needs a rationale/approach which means ad-hoc issues like this must be cleared.

[2021-01-07 13:37] #14 closed

[2021-01-07 13:41] layik commented on #12
This is still in the balance:
https://github.com/uber/react-vis/issues/1303#issuecomment-734118180

[2021-01-07 13:43] layik commented on #9
Just a courtesy message to @neon-ninja, quite a lot has been experimented with with `R.data.table` including using it to subset substantial (large) "SimpleFeature"s without the need for even `sf` package. I have also decreased the amount of data the "repo" out of the box sends. If any particular issue is still there, happy to address it.

[2021-01-07 13:43] #9 closed

[2021-01-07 13:46] layik opened #16 "Filter revamp - using baseweb"

[2021-01-08 15:00] #16 closed

[2021-01-29 16:08] layik opened #18 "Mapbox license change"
Current release of the npm package [`0.0.211`](https://www.npmjs.com/package/eatlas) functions without any issues/warnings but current dev work hit warnings which are related to [this](https://github.com/mapbox/mapbox-gl-js/blob/main/CHANGELOG.md#200).

Options are limited, clearly for those who love Mapbox map tiles, they can continue as usual. For the rest, which includes the way eAtlas is used

[2021-01-29 16:10] layik commented on #18
The dependency is indirect via `react-map-gl` which of course relies on https://www.npmjs.com/package/mapbox-gl. So also looking at what `react-map-gl` does too.

[2021-01-29 23:22] layik commented on #18
Least disruptive solutions seems to be replacing Mapbox with TileLayer of DeckGL. Will Uber change DeckGL license? Hope not!

[2021-02-03 11:00] layik commented on #18
Option to freeze the deps on v < 2.0?

[2021-02-06 00:28] layik commented on #12
plotly is JSON driven and wins.

[2021-02-06 00:28] #12 closed

[2021-02-06 00:28] layik commented on #12
#21

[2021-02-09 11:14] layik commented on #12
https://github.com/plotly/react-plotly.js/issues/135

[2021-02-09 13:26] layik opened #24 "Docker build fails due to introduction of react-plotly"
#12

[2021-02-12 16:57] layik commented on #24
After hours of investigating this, there is no clear reason. Docker builds on various versions and platforms whilst fails on others notably on local Big Sur with Docker Engine `20.10.2`.

[2021-02-12 16:57] layik opened #26 "No reset button if source fails"

[2021-02-18 10:22] layik commented on #24
Full investigation: https://github.com/layik/react-plotly

[2021-02-25 22:21] layik commented on #24
Reopen if need be. dockerhub sometimes build successfully yet labels the build as FAIL.

[2021-02-25 22:21] #24 closed

[2021-02-25 22:21] layik commented on #18
Reopen when new decision is made.

[2021-02-25 22:52] layik opened #28 "react-plotly proptypes fails on gh-pages build"

[2021-02-25 23:38] layik commented on #28
Needs more clarification though.

[2021-02-25 23:38] #28 closed

[2021-02-25 23:49] layik opened #29 "Bind npm releases to docker ones"
- [ ] write actions yml
- [ ] sync with docker.yml

[2021-02-26 14:23] layik opened #30 "Separate geography API"
The idea comes from SPENSER and now PIGSUSTAIN.  Provide a CSV with geography column and eAtlas detects geographies.

[2021-03-09 13:45] layik opened #31 "Choosing date standard"
For current (future) releases we must simplify how eAtlas handles date/time. For now:

- ask users to bring ISO [dates](https://en.wikipedia.org/wiki/ISO_8601)
- continue using `luxon` to parse them using `.fromISO`

[2021-03-09 13:46] #31 closed

[2021-03-10 00:02] layik opened #33 "Consider tooltip graph from current state + data"
Given:

- year as time column
- column name as layer column
- data on client side (standalone npm case)

Generate: tooltip graph.

Our other showcases rely on custom code to pull data on tooltip hover. Is it possible to detect at least year + current column used to generate say an area thematic map.

[2021-03-11 14:26] layik opened #35 "Prevent changes in #30 affecting "add data""
Make sure `add data` takes priority

[2021-03-11 14:27] layik opened #36 "Sync #30 in "add data""
As well as #35, application should now sync functionality from #30: allow separate files (like API/settings).

[2021-03-11 19:20] #35 closed

[2021-03-11 19:36] layik opened #38 "Method to flexibly define DeckGL layer APIs to data columns or custom values"
~- [ ] Arc~
~- [ ] Line~
~- [ ] path~

The approach is as follows:

1. Define the type of settings required.
2. Define the visualization based on (1)
3. Define passing the values from (2) in generating the layers.

That does not mean much because it is a functional approach the example is this for a [`heatmap` layer](https://deck.gl/docs/api-reference/aggregation-layers/heatmap-layer):

1. Define

[2021-03-12 21:54] layik opened #39 "Sync `data`, `defaultURL` and `geographyURL`"
The best course of actions is to ignore the `defaultURL` when `data` is provided. Or it could be even ignoring both if `data` is provided. Either will do.

[2021-03-13 22:13] layik opened #40 "Data state: show filtered values to user"

[2021-03-15 07:47] layik commented on #33
This could be part implemted already for point/line data.

[2021-03-15 10:06] layik opened #41 "Update main/master README"
This is an issue as the project now has grown beyond a quick README. It does need a structure and some good write up.

[2021-03-16 14:22] layik opened #42 "Settings: turn off hover"

[2021-03-16 14:23] layik opened #43 "Separate geography: drop no value geographies"
1.1.0-beta.2 feedback

[2021-03-16 16:47] virgesmith opened #44 "Allow a mapping between columns in data and geographies"
e.g.

`REACT_APP_GEOGRAPHY_COLUMN_NAME: msoa11cd`

 means that both the data from `REACT_APP_DEFAULT_URL ` and `REACT_APP_GEOGRAPHY_URL` must share a common column name, which might require manual editing of the data.

Would it be possible to specify this as a dict, e.g.

[code]
(apologies if my yaml syntax is a bit off)

then I could keep the original column name ("MSOA") in the data?

Thanks!

[2021-03-16 17:04] layik commented on #44
Thanks @virgesmith. This is a must really but as you know early days so apologies for the strict rule for now.

[2021-03-20 16:30] layik opened #45 "isURL should not check against same host"

[2021-04-11 08:19] layik commented on #41
#46 is good enough for now

[2021-04-11 08:19] #41 closed

[2021-04-21 15:33] layik commented on #18
Moderate vulnerabilities creeping in.

[2021-04-26 08:24] #38 closed

[2021-04-26 08:29] layik opened #49 "One source of introducing layers"
In #38 we have a method to define DeckGL layer properties and use them either in generating layers or indeed in setting their values or assigning values from columns.

For this issue:
- [x] one source of truth where Layer is defined and used consistently throughout
- [x] define current set of layer props

For the latter, we can have:
1. number (numeric)
2. column (value from column), this is turne

[2021-04-28 10:51] #49 closed

[2021-05-14 11:30] layik opened #53 "Docker build fails"
@griff-rees

[2021-05-14 11:31] layik commented on #24
#53

[2021-05-14 11:38] griff-rees commented on #53
[code]

[2021-05-19 08:58] layik commented on #53
Just ran it on Docker 18.06 on Focal and Node build went fine. Looks like the inconsistent fail behaviour like #24

[2021-05-19 11:35] layik commented on #53
More build outputs from @griff-rees via Turing Slack channel again npm run build is the layer failing whilst the Actions keep building fine.

So hunch is still plotly but no definite diagnostics yet.

[2021-06-17 09:51] layik commented on #39
`data` taking priority over both. Next versions should inspect data better (is it CSV?) Etc

[2021-08-13 10:58] layik commented on #53
There is still no sign of a reproducible example. Latest project over at `bioDar` keeps building fine both on GH & JASMIN servers. Closing with caution and happy to be reopened anytime.

[2021-08-13 10:58] #53 closed

[2021-08-13 10:59] layik commented on #18
Time to reconsider this and look at what has changed over at Mapbox.

[2021-08-13 11:00] layik commented on #36
This might have been implemented in the latest beta releases, check before attempting it.

[2021-08-13 11:00] layik commented on #39
Again (like #36) check npm branch before attempting.

[2021-08-13 11:01] layik commented on #42
implemented in beta releases.

[2021-08-13 11:01] #42 closed

[2021-09-10 11:48] layik commented on #43
https://github.com/tgve/eAtlas/blob/9f9dbea761191e5b675448e74ed9ba489791b92c/src/utils.js#L743

[2021-09-10 11:48] #43 closed

[2021-09-13 09:18] layik commented on #39
This is implemented in the most basic form. `data` taking priority with simple black and white condition, see here:
https://github.com/tgve/eAtlas/blob/npm/src/Welcome.js#L132

[2021-09-13 09:18] #39 closed

[2021-09-13 11:08] layik opened #58 "Add viewport apis or basic options (2D vs 3D by default)"
Currently semi-hardcoded. Cautiously increasing the API values.

[2021-09-13 11:11] layik opened #59 "Generalise datasetName"
Particularly when considering #36 etc.

[2021-09-13 13:52] #36 closed

[2021-09-13 13:52] #26 closed

[2021-09-13 13:53] layik commented on #33
Reopen with better description

[2021-09-13 13:53] #33 closed

[2021-09-13 13:54] layik commented on #29
Again in light of dockerhub, npm and more changes this needs to be reopened with new requirements

[2021-09-13 13:54] #29 closed

[2021-09-15 08:33] layik opened #62 "DeckGL layer triggers (esp GeoJSON layer)"
On `1.3.1-beta-0` release, geojson layer does not trigger stroke etc layer options

[2021-09-15 08:49] layik commented on #62
It just needs documentation in this instance. IF `extruded` is enabled by default then all stroke related API is disabled see docs [here](https://deck.gl/docs/api-reference/layers/geojson-layer#extruded).

Just make `extruded` and other props sync with default DeckGL values.

[2021-09-15 09:06] layik opened #63 "Sync `homepage` with `history` api."
The GH deployment is stable. The only issue so far seems to be pushing to `history` does not consider the `homepage` entry in package.json.

[2021-09-15 09:22] layik opened #64 "Replace `master` branch by `npm`"
- [x] remove references to “the main repo” in `eAtlas`
- [x] check in with @layik re. unpublished commits on `master`
- [x] rename `master` -> old
- [x] delete `old`

Done/dropped:
- [x] make `npm` the default branch
- [x] delete `build` and `start` scripts from `package.json`
- [x] delete `wip` branch
- [x] #107
- [x] delete `letsbeatcovid` and `covid19`
- [x] rename `npm` to (e.g.) `release` and

[2021-09-15 10:26] layik opened #66 "Introduce onClick hover/modal"
So far TGVE has been relying on `hover`. Having both options will be useful to variety of projects.

[2021-09-15 11:29] #62 closed

[2021-09-15 12:15] layik opened #67 "Sync Reset North in `search` or browser history"

[2021-09-17 11:24] layik commented on #58
#70

[2021-09-17 11:24] #58 closed

[2021-09-18 10:00] #59 closed

[2021-09-18 10:29] layik commented on #40
This would over clutter the main view. It is shown in the filter tab and that is enough for now.

[2021-09-18 10:29] #40 closed

[2021-09-21 13:34] #45 closed

[2021-09-23 08:43] layik commented on #67
#68 fixed this

[2021-09-23 08:43] #67 closed

[2021-09-23 10:52] layik commented on #44
The above commit stipulates this format `dataCol:geoCol` so data (csv etc) must come frist, then comes the geography column name. This should be safe `samename:samename` but redundant.

[2021-09-23 21:07] #44 closed

[2021-11-05 14:39] layik opened #83 "Hid share panel when sidebar hides"

[2021-11-05 14:39] layik opened #84 "Unify colouring of different layers"
- [x] arc - requires integrating color picking in layer definitions. Done in #151
- [ ] ?

[2021-11-25 10:00] layik opened #86 "Pass API params as query search params"

[2021-11-30 11:22] layik commented on #86
#88

[2021-12-01 18:09] layik commented on #86
subject to issues/improvements

[2021-12-01 18:09] #86 closed

[2022-01-07 12:42] layik opened #96 "tgve/eAtlas branch revamp/restructure - discuss"
For clarification, the branch was the main dev repo for eAtlas/TGVE and has now grown out of its purpose.

- master branch is now way behind branch `npm`
- branch `npm` is the most important part, `npm-dev` is where I do work and create PRs on `npm`.
- Wiki is the main docs for "the project"
- Dockerfile is based on "old" approach of building the front-end using JS tools (npm)

Must be done:
- REA

[2022-01-07 12:43] layik opened #97 "Rename eAtlas"
- [x] `eAtlas` -> `tgvejs`
- [x] `eatlas-template` -> `app`
- [x] `full-template` -> `app-full`
- [x] use notation `tgve/app`, `tgve/full-app` in docs
- <s>revisit `tgve-` prefix for `app`, `app-full`</s>
- [x] search and replace all occurrences of `eAtlas`
- [x] rename `main`/`master` branches in `app` and `spenser` to `release`
- [x] references to `eatlas-data`
- [x] `wip.R` refers to `~/Desktop

[2022-01-14 12:52] LydiaFrance opened #92 "Merge npm branch with master"

[2022-01-14 12:55] LydiaFrance opened #93 "Migrate away from geoplumber"

[2022-01-14 12:56] LydiaFrance opened #94 "Development workflow"
A development workflow for working on `tgvejs` and running it via `app`.

- [x] testing instructions
  - [x] `yarn test` in `tgvejs`
    - [x] Cannot find module 'react' from 'ReactSixteenAdapter.js' -- add to `devDependencies`
- experiments on `master` branch
  - [x] build Docker image
  - [x] `yarn install`/`yarn start`
- experiments on `npm` branch
  - [x] build Docker image :x: `Error: Cannot

[2022-01-14 13:00] LydiaFrance opened #95 "Local Host User Workflow"

[2022-01-14 13:32] layik commented on #64
#92

[2022-01-14 14:04] layik commented on #92
Thanks @LydiaFrance and @rolyp.

One thing that is prevented/preventing me from making my mind  up is [tgve/eatlas-template](https://github.com/tgve/eatlas-template/) and [tgve/full-template](https://github.com/tgve/full-template) in terms of what a master branch should look like. Say we rename this repo as `tgvejs` (i.e this repository becomes the "source of truth"), then we would either keep tho

[2022-01-14 14:06] layik commented on #92
`master` or `main` for me is not an issue.

[2022-01-14 14:12] layik commented on #93
Just to clarify here, this is based on the new work in https://github.com/tgve/tgver package. Where instead of running JS tools, we rely on a bundled "build" outside the R package. For anything that has any custom React component passed to the `leftSidebarContent` API/parameter, then we do need JS builds and that in R is done under `geoplumber` R package.

[2022-01-14 14:14] layik commented on #93
Related to #92 in a way.

[2022-01-14 14:14] layik commented on #94
Hopefully this becomes much clearer once we deal with #92 and #93.

[2022-01-14 14:38] rolyp commented on #64
Closing #92 as a duplicate of this. Importing comment from that issue by @layik:

[2022-01-14 14:38] rolyp commented on #92
Duplicate of #64

[2022-01-14 14:38] #92 closed

[2022-01-14 15:06] rolyp commented on #96
@layik Moved this from the `reg` repo and will consolidate into #64.

[2022-01-14 15:08] rolyp commented on #96
Merged into #64

[2022-01-14 15:08] #96 closed

[2022-01-14 15:27] rolyp commented on #93
@layik Yes I think some of these issues will turn out to overlap a bit -- we can refine them as we go forward. Starting with #92 sounds like the best plan.

[2022-01-14 15:55] rolyp opened #98 "Delete `npm-tgver` and `tgver` branches"
@layik Looks like this differs from `npm` by a single commit (https://github.com/tgve/eAtlas/commit/5b3535dea57cae54c6b2fae3c0aafbbf706a20ea) which removes the `plotly` dependency:

Need to figure out if this still needed and if so, whether there is a better solution to having another active branch.

[2022-01-14 16:51] rolyp commented on #97
@layik I think I see the case now for renaming the `eAtlas` repo.

[2022-01-16 10:29] rolyp opened #100 "Delete `README.Rmd`"
`README.Rmd` is generated from `README.md` using `markdown::render`.  Since we are regularly updating `README.md` with installation/setup instructions, this is a bit of a pain.

- [x] <s>generate `.md` when `.Rmd` modified?</s>
  - [x] new `.git.hooks` folder for storing commit hooks in repo
  - [x] create `.git.hooks/pre-commit` and make executable
  - [x] symlink to `.git.hooks/pre-commit` from

[2022-01-16 10:32] rolyp commented on #64
@layik Ah, there seem to be commits on `master` that haven't yet been published to `npm`, so things aren't straightforward. In particular `README.md` is quite different on the two branches. Need to discuss.

[2022-01-16 10:59] layik commented on #100
Rmd generates .md and would like to keep it that way until something better comes up.

[2022-01-16 11:01] layik commented on #97
Once we commit fully to the name TGVE, I propose `tgvejs`.

[2022-01-16 11:03] layik commented on #64
Indeed!

[2022-01-16 11:22] rolyp commented on #64
@layik Btw, I will (occasionally) work weird hours, e.g. at weekends. Please ignore any comments that come your way during those unusual hours (unless you wish to respond, of course)!

[2022-01-16 11:23] rolyp commented on #100
@layik Got it. What is the process by which the .md is generated, btw?

[2022-01-16 11:44] layik commented on #100
Sorry, also Rmd is good when we like to run some code as we generate the doc.
To build an Rmd a simple R [command](https://bookdown.org/yihui/rmarkdown/compile.html) of `rmarkdown::render("path/to/README.Rmd")` is enough, the rest is handled in the `yml` style document itself which sets out generating a `github_document` etc in our case.

[2022-01-16 11:53] layik commented on #64
That makes two of us, glad you gave the warning first.

[2022-01-16 11:55] layik commented on #98
Indeed. The best way to close this ticket is for me to wait until next time I generate a build for `tgveR`, document exactly where this branch stands and then might be able to safely delete it.

[2022-01-17 07:56] rolyp commented on #100
@layik I didn't really follow that explanation -- I'll add this topic to a meeting agenda and send a message on Slack to arrange a time.

[2022-01-17 10:40] layik commented on #98
Alright, this needs documenting otherwise it is now clear that we need the branch to generate a build that can be submitted to CRAN. From Slack conversations:

So far, the npm package is made with no/little <link /> tags so that people start using it.
That is why:

[2022-01-17 10:42] layik commented on #100
Apologies, will be clearer soon.

[2022-01-17 11:48] layik opened #103 "Document and cleanup package.json commands"

[2022-01-17 16:03] rolyp commented on #98
@layik Btw, do we have a GitHub workflow that submits to CRAN? We could use such a thing to validate any proposed solution.

[2022-01-17 17:08] rolyp commented on #100
@layik Given the complexity of the consolidation tasks we have identified, it would streamline things a bit if it were possible to edit `README.md` directly, rather than having to go via `README.Rmd`, at least if the only benefit of the current setup is the generation of a date. Shall we go ahead and switch to a directly edited `README.md` and delete the `.Rmd` version?

[2022-01-17 23:55] layik commented on #98
`tgveR` is not submitted to CRAN yet, but even then I find CRAN volunteers to earn our cross-patform tests etc to be done manually rather than automated. I can ask others to see what they feel about submitting to CRAN automatically. One to discuss or keep as an open issue.

[2022-01-18 09:05] layik commented on #100
I see the difficulty it is causing your @rolyp. Forgive me as I use pandoc etc on daily basis and did not feel those difficulties so leave it with me, I think Rmd causes some extra `\n`s other than that should be just a delete commit.

[2022-01-18 09:08] layik commented on #103
https://github.com/tgve/eAtlas/commit/91b1e1a3b8a8b1b426865137c9cf51bfc2a07187
is sufficient for now but will be working on a dev Wiki/doc

[2022-01-18 09:08] #103 closed, assigned to layik

[2022-01-18 09:09] rolyp commented on #100
It's not a major problem, but yes it seems like a fair amount of config/automation involved to set up a feature that we're not actually taking advantage of yet. (Although I now understand your point about how we could use the `.Rmd` to for example include code output into `README.md`. But until that becomes a requirement, perhaps it's better to simplify.)

[2022-01-18 09:16] rolyp commented on #100
@layik No worries, easier for me to take care of as I'm working on this now.

[2022-01-18 09:36] #100 closed, assigned to rolyp, layik

[2022-01-18 09:42] layik opened #104 "Delete ref.bib following Rmd"
#100

[2022-01-18 10:00] #104 closed, assigned to layik

[2022-01-18 10:04] layik commented on #95
whilst we are still working out how much we can move away from `geoplumber`, as inevitably like `IPyWidgets` and other projects where JS build tools is driven by a "server-side" language, we still would be relying on `geoplumber` in R.

Thus I think we can close this ticket by adding enough tot this entry: https://github.com/tgve/eAtlas/wiki/Using-TGVE-Locally

[2022-01-18 10:05] layik commented on #95
#93

[2022-01-18 13:11] rolyp commented on #94
@layik In the proposed internal dev workflow (where we clone, rather than instantiate, `eatlas-template`), the developer (= me) has to have a locally modified `package.json` and `yarn.lock`. This is not ideal. Any ideas on how we might improve on this?

[2022-01-18 13:26] layik opened #105 "Reconsider gh-pages"
Currently the `master` branch is dealing with it and given #64:

I don't know what the gh-pages of eAtlas repository should show:
1. Another instance of TGVE
2. Docs
3. something else?

[2022-01-18 13:37] layik commented on #94
OK here is part of the doc I am working on for developers which can replace this Wiki entry. I am happy to refer to how other npm package developers do it but would have to be similar. Here is part of the MD being written.

## Local React App

To develop (make changes) or even better contribute to eAtlas, please set up your own development environment.

We propose two ways:

* using the eatlas-tem

[2022-01-18 13:39] layik commented on #94
A Wiki entry like this: https://github.com/tgve/eAtlas/wiki/Developing-eAtlas

[2022-01-18 13:40] layik commented on #94
Now, I am happy to say "We propose you create a CRA app from scratch" etc.

[2022-01-18 13:43] layik commented on #94
Will do some more tests on using `yarn` and hopefully can commit to yarn as our other repos all use `yarn`. It is a very valid checklist item.

[2022-01-18 13:47] layik commented on #94
RE checklist item: "get to the point where we can go `gp_plumb` if this Wiki entry is not fully reproducible, I am happy to make sure it stays fresh. It is one aspect of this work that I like to tell data scientists that our approach is fully reproducible.

https://github.com/tgve/eAtlas/wiki/Reproducible-TGVE

[2022-01-18 13:48] layik commented on #94
And perhaps, I need to commit an `.Rmd` that can be run by users and reproduced using an R package like `reprex::reprex()`.

[2022-01-18 15:40] rolyp commented on #94
Won't reproducibiity be exactly what's captured by the Dockerfile? Or do you have something else in mind?

[2022-01-18 15:46] rolyp commented on #97
@layik See top of issue for current proposal.

[2022-01-18 16:22] rolyp commented on #94
@layik Should we think of the development workflow (assuming a full stack setup that allows change to the R code, React code, etc) as belonging to `full-template`?

[2022-01-18 16:52] layik commented on #94
I agree a Dockerfile is a reproducible example. But more like a document in shape of a notebook or an Rmarkdown is what I have in mind for [data] scientists.

[2022-01-18 16:54] layik commented on #94
For me this is what we discussed today and a "development workflow" would be what a developer would be doing to develop eAtlas npm package.

[2022-01-18 16:54] rolyp commented on #94
@layik Ok. Perhaps this could build on what's currently in the `jupyter` repo?

[2022-01-18 16:54] layik commented on #94
You mean the full-template sticking with R to make my life easier.

[2022-01-18 16:55] rolyp commented on #94
Let's talk about this tomorrow morning.

[2022-01-19 09:47] layik commented on #97
Thank you @rolyp. One more suggestion to make it even more difficult:
-  `eAtlas` -> `tgvejs`
-  `eatlas-template` -> `app`
-  `full-template` -> `app-full`?

As we have `/tgve` from the org name anyways.

[2022-01-19 10:33] rolyp commented on #97
@layik I like your suggestion better -- updated the proposal at the top.

[2022-01-21 12:02] rolyp opened #107 "Move `spenser` branch to new private repo"
- [x] new private `tgve/spenser` repo
- [x] `git remote add origin2 https://github.com/tgve/spenser.git` (in `eAtlas`)
- [x] `git push -u origin2 spenser` (in `eAtlas`)
- [ ] delete `spenser` from `eAtlas` and remove `origin2` remote from local `eAtlas`
- [ ] rename `spenser` branch in `tgve/spenser` to `release`
- [ ] enable GitHub Actions and check building correctly

[2022-01-21 14:16] layik commented on #97
In relation to first checkbox (renaming eAtlas -> tgvejs), this is where I have been hung/stuck:

https://stackoverflow.com/a/28841779/11101153

[2022-01-21 14:29] layik commented on #97
RE third item (rename `full-template` -> `full-app`), there is the feeling that the repo name still does not reflect it fully. So had to use `tgve-full-app` in the repo's README. In fact that is what I should be doing for the second one as well :(

[2022-01-21 14:36] layik commented on #97
In short, the logic (which I proposed) of relying on GH organisational naming `tgve/app` does not automatically reflect onto README/docs/papers/presentations.

[2022-01-21 15:37] rolyp commented on #97
Perhaps we can just deprecate the old component and release a new one with the new name.

[2022-01-21 15:38] rolyp commented on #97
@layik I guess we should either:
- revert to `tgve-app` and `tgve-full-app` as originally proposed, or
- refer to them as `tgve/app` and `tgve/full-app` in docs etc

(The latter is consistent with the GitHub convention for referring to issues in other repos.)

[2022-01-23 10:40] layik commented on #97
Thanks @rolyp. Please let me know your preference of the two.

[2022-01-24 09:23] rolyp opened #108 "Consolidate documentation"
There is a lot of overlapping documentation for TGVE, with many similar (but not identical) fragments of text. For example, there is significant redundancy between:

- `README.[R]md` for the various repos
- `tgve/eAtlas/notes/guide.Rmd`
- `tgve/eAtlas/wiki` (generated from `eAtlas/notes/guide.Rmd` and pasted into wiki by hand)
- `tgve/tgver/vignettes` (e.g. `tgver.Rmd`)

Reorganise to achieve the

[2022-01-24 10:25] layik commented on #108
Fantastic work @rolyp. Got my roadmap for docs.

[2022-01-24 13:19] layik opened #109 "Remove data as URL parameter"
Can keep data in source.

[2022-01-24 13:19] layik commented on #109
tgve/tgver#1

[2022-01-24 13:26] layik commented on #105
Reopen after #108 if needed

[2022-01-24 13:26] #105 closed, assigned to layik

[2022-01-24 13:42] layik commented on #109
Reopen when needed

[2022-01-24 13:42] #109 closed

[2022-01-24 14:31] layik opened #110 "Remove plotlyjs as direct dep"
Instead ask users to add
`<script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>` to their HTML files. Docs must take care of version checks and CDN (content delivery network) links need to be up to date. Looks like `cdn.plot.ly` can do this job.

This introduces updates on `tgve/app` and `tgve/full-app` repos, too. tgve/tgver#1

[2022-01-24 14:56] rolyp commented on #64
@layik I'll reopen this until we're able to delete `old`.

[2022-01-24 15:23] rolyp commented on #108
Summary of the docs that need revisiting and topics they cover:

- tgve/eAtlas/README.md
  - API variables
  - using GitHub Pages
  - development setup
  - testing
- tgve/eAtlas/notes/guide.Rmd
  - introduction
  - API variables
  - using GitHub Pages
  - Docker
  - using R package
  - npm package
  - outside the browser
  - showcases
  - roadmap
  - references
- tgve/eAtlas/wiki
  - introduction

[2022-01-24 20:34] layik commented on #108
@rolyp great work. Can we possible leave current repo README with contents of whatever it points to saving users a click? It is also published as the landing page on npmjs.com. As the application grows we can point users to a doc Wiki or in future a doc portal. It will also be consistent with other repos of the organisation.

[2022-01-25 07:44] rolyp commented on #108
@layik Yes, I'm wondering how best to achieve something like that (without reintroducing the lots of copy and paste). I'll have a think about that today, and implement the same solution for each repo.

[2022-01-25 08:32] rolyp commented on #98
Closing as duplicate of tgve/tgver#1.

[2022-01-25 08:32] #98 closed, assigned to rolyp, layik

[2022-01-25 18:02] rolyp commented on #108
@layik Completed an initial pass with the main goals of:
- removing redundancy (document each thing in one place)
- merging fragments of related documentation into appropriate location (e.g. `tgver` for R-related stuff)

For example, most of `guide.md` was redundant with what was written elsewhere, but when not, I've merged the relevant content. The Wiki has gone for the same reason (since it was

[2022-01-25 18:02] #108 closed, assigned to rolyp, layik

[2022-01-26 15:35] layik opened #112 "Better error when geographyURL fails"
When both `defaultURL` and `geographyURL` is given and if latter is invalid URL, eAtlas gives the impression as if the former has failed. See:
https://github.com/tgve/eAtlas/blob/9b970501c8bf5f328be7765e3af343c3510fed58/src/Welcome.js#L182

[2022-01-26 15:37] layik opened #113 "Preserve API URL vars when mapview changes"
Include this in share button.

[2022-01-31 12:54] layik commented on #95
No longer the action to take as Wikis are gone.

[2022-01-31 13:16] layik commented on #64
OK, I have pushed "old" = "master" to private repo for backup only.

[2022-01-31 13:16] #64 closed

[2022-01-31 13:17] layik commented on #64
Can discuss my action above separately, branch is now deleted.

[2022-01-31 14:16] #110 closed, assigned to layik

[2022-01-31 14:18] layik commented on #93
Can move it to another repo but no longer applies to the npm package.

[2022-01-31 14:18] #93 closed

[2022-01-31 18:01] rolyp opened #114 "Single status view for all repos"
The repository/build setup is simpler than it was but remains complex. It would be useful if the “main” repo (`tgve/tgvejs`?) included the relevant status badges along with the summary of each repo/component, to provide a centralised overview.

See also tgve/app#23

[2022-02-01 12:07] rolyp commented on #97
@layik I feel like we're good to delete

from `gh-pages.yml` (in `app` and `full-app`), since there are no longer any references to `layik` in the baseline `package.json`.

(Btw: how are ${a[0]} and ${a[1]} resolved?)

[2022-02-01 15:03] rolyp commented on #97
@layik Unless you tell me otherwise planning to rename `eatlas-data` to `example-data` or similar.

[2022-02-01 15:10] rolyp commented on #95
Nothing really to do here, very short section in [`tgve/app`](../../app) seems complete enough.

[2022-02-01 19:06] layik commented on #97
Sorry @rolyp for late response to this. I think you edited the file(s) but this is important for people who "fork the template". So `app` and `full-app` would need to be replaced with their repository names.

[2022-02-04 10:12] layik opened #117 "Remove react-bootstrap and replace with baseui"
- [x] [src/components/decksidebar/DeckSidebar.jsx](https://github.com/tgve/tgvejs/blob/e78cf937bae280249306d40a4eefc45abc096208/src/components/decksidebar/DeckSidebar.jsx)
- [x] [src/components/Header.jsx](https://github.com/tgve/tgvejs/blob/e78cf937bae280249306d40a4eefc45abc096208/src/components/Header.jsx) obselete
- [x] [src/components/RBAlert.jsx](https://github.com/tgve/tgvejs/blob/e78cf937ba

[2022-02-09 13:26] layik opened #118 "Read json data from script tag"
Using embedding json in HTML where tgvejs is rendered.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#embedding_data_in_html

[2022-02-10 10:41] layik commented on #118
Now we can also read another dom element with some `tgve-settings` and live happier.

[2022-02-10 14:31] #118 closed, assigned to layik

[2022-02-11 15:36] #112 closed, assigned to layik

[2022-02-14 09:57] #97 closed

[2022-02-14 11:16] layik opened #122 "consistent API vs REACT_APP_ values"
- [x] testing strategy
- [x] `REACT_APP_GEOGRAPHY_COLUMN_NAME` -> `REACT_APP_GEOGRAPHY_COLUMN`
- [x] `REACT_APP_COLUMN_NAME` -> `REACT_APP_COLUMN`
- [x] `REACT_APP_LAYER_NAME` -> `REACT_APP_LAYER_STYLE`
- [x] remove redundant pattern-match on `props`
  - [x] `import { strict as assert } from 'assert'` and `assert(param != props[paramName])`
  - [x] replace `param` by `props[paramName]` in `apiValu

[2022-02-14 11:31] rolyp commented on #122
@layik wrote on Slack:

B1 goes nicely with A1 & A2, if I ever want to use a notebook with TGVE (which seems likely). So that dispenses with B1. Let's assume B3 is "no", leaving us with B2.

If B2 is a scenario we wish to support (via both R and Python), then I suggest the following:
1. treat them as use cases of app (since it's fine and indeed common for a single app or component to have multiple

[2022-02-15 16:22] layik opened #124 "Decide on fate of gh pages & gh-pages branch"

[2022-02-23 10:09] layik commented on #124
One serious contender is: https://docusaurus.io/docs. Here is a web page in less than 30mins with an iframe embedded.

![image](https://user-images.githubusercontent.com/408568/155298687-e3d340c7-bc1a-4077-8fc5-a9a4d3b2c3a3.png)

[2022-03-03 18:14] #94 closed

[2022-03-06 10:53] layik commented on #117
- [x] [src/components/decksidebar/DeckSidebar.jsx](https://github.com/tgve/tgvejs/blob/e78cf937bae280249306d40a4eefc45abc096208/src/components/decksidebar/DeckSidebar.jsx)
- [ ] [/package.json](https://github.com/tgve/tgvejs/blob/e78cf937bae280249306d40a4eefc45abc096208/package.json)
- [ ] [src/components/Header.jsx](https://github.com/tgve/tgvejs/blob/e78cf937bae280249306d40a4eefc45abc096208/src/

[2022-03-06 11:53] layik commented on #117
https://github.com/tgve/tgvejs/commit/ac5057818d41cbccf469f791bd77e8b32aaf4539

[2022-03-07 13:57] rolyp opened #129 "Standardise on `layerName` over `layerStyle`"
Discovered during #122 that the JavaScript component uses a mixture of `layerName` and `layerStyle`. Use this refactoring activity as an opportunity to practice our [snapshot testing](https://jestjs.io/blog/2016/07/27/jest-14) workflow.
- [x] enable snapshot testing in test scripts (remove `--updateSnapshot`)
- [x] experiment with `dark` attribute (does it affect snapshot?)
- <s>script to update s

[2022-03-07 14:29] #122 closed, assigned to rolyp, LydiaFrance

[2022-03-07 16:48] #117 closed, assigned to layik, nbarlowATI

[2022-03-07 17:48] #129 closed, assigned to rolyp, LydiaFrance

[2022-03-07 18:03] rolyp opened #133 "Spatial view coordination"
The various views on the left need to be coordinated with (linked to) the map view, i.e. re-queried/re-rendered when the data selection changes. For now we will just consider this to be when the map view is panned or zoomed and “subset based on map bounds” is checked.

Solve the following infrastructure problems first:
- tgve/app#47
- tgve/app#48

Then:
- [x] where is “subset based on map bounds”

[2022-03-07 18:16] layik commented on #133
Just to clarify, everything in tgvejs is based on `filtered` and `unfiltered` data, including tooltip. So

is implemented. The critical part in this is throttling which is done for updating URLs here:
https://github.com/tgve/tgvejs/blob/7aa3ae089952dd4612e18918cfb480eea90608c5/src/Welcome.js#L584

What we need to do, is:
1. find space where the "clip"ing happens. We already get the bounding box [h

[2022-03-07 18:17] layik commented on #133
Should also say this
https://github.com/tgve/tgvejs/blob/7aa3ae089952dd4612e18918cfb480eea90608c5/src/Welcome.js#L589

belongs to the master branch days.

[2022-03-07 18:21] rolyp commented on #133
Thanks @layik, will try to understand some of this tomorrow.

[2022-03-08 17:40] rolyp opened #134 "UI testing strategy"

[2022-03-08 18:33] nbarlowATI commented on #113
This is now pretty much implemented in the `preserve-defaultURL` branch:
* `defaultURL`, `geographyURL` and `geographyColumn` will (if not "undefined") be added to the search string of the URL.
* This is all done by modifying the `updateHistory` function in `utils.js` (with a slight modification in `Welcome.js` to pass these props to that function).
* Trying to figure out how to test this - the `h

[2022-03-09 17:31] layik commented on #113
I agree. If you are happy with the minor changes @nbarlowATI feel free to PR the branch onto develop and merge.

[2022-03-15 09:04] #113 closed, assigned to layik, nbarlowATI

[2022-03-16 16:23] nbarlowATI commented on #66
So, here's a summary of my understanding of first steps, following the discussion on 16/3/22:
* Create a new component, called "Popup", modelled closely on "Tooltip"
* Make a new function in the "Welcome" component, based on the `_renderTooltip` function, that is called from `onClick` and sets the state variable "popup" (null if the object from onClick is undefined, or the JSX for the Popup compon

[2022-03-17 13:55] rolyp commented on #114
There aren't so many repos now and their roles are clearer, so no longer any need for this.

[2022-03-17 13:55] #114 closed, assigned to rolyp

[2022-03-22 10:18] layik opened #144 "Download button should not generate link before being pressed"
Currently the Export component generates the buttons and that is fine. In the Download button there is no need to `JSON.stringify` unless user has pressed it.

Remove the styled link, generate the button, when user presses the button then stringify and download the URL using JS.

https://github.com/tgve/tgvejs/blob/b6b0d415b96cd0c9e95e3007a519f8c37d671987/src/components/export/Export.jsx#L75

[2022-03-22 10:53] #144 closed, assigned to layik

[2022-03-22 12:04] layik commented on #84
Required
- [ ] arc
- [ ] ??

[2022-03-25 16:06] #66 closed

[2022-03-25 16:31] layik commented on #133
I have started this and sp far so good. Will push as and when

[2022-03-25 16:32] layik commented on #133
Checklist above was before #147 etc

[2022-03-25 16:34] layik commented on #133
Might need to bring subset checkbox into tab1 for usability reasons

[2022-03-26 09:58] layik commented on #133
Todo:

- [x] ~turf `booleanContains` seems to be very slow~
- [x] sync checkbox with home

[2022-03-26 11:21] layik commented on #133
Aware of branch https://github.com/tgve/tgvejs/tree/subset-mapbounds

[2022-03-27 10:23] layik commented on #133
![Peek 2022-03-27 11-21](https://user-images.githubusercontent.com/408568/160277078-66635848-3ca2-4064-8f09-16fbd2016b86.gif)

[2022-03-27 10:48] layik commented on #133
Hi @rolyp. Could you please check the check list item of puppeteer and of course the branch. Might be ready for a PR. Thank you.

[2022-03-28 09:11] layik commented on #133
Lines/path data to test https://raw.githubusercontent.com/tgve/example-data/main/rnet/atumie.geojson

[2022-03-30 07:18] #133 closed, assigned to rolyp, layik, LydiaFrance

[2022-03-31 11:24] layik commented on #84
I think we should reopen if anything else pops up. Looks goof in current workflow.

[2022-03-31 11:24] #84 closed

[2022-06-15 10:07] layik opened #161 "Parse data only once"
The TGVE does some heavy processing. Currently various components do parsing during interactions by user. All this can be done by some preprocessing/parsing of the data. All subsequent interactions should be drawn from such preprocessing for performance boost.

[2022-06-19 12:18] layik opened #162 "TGVE should access data only by property name when generating layer"
GeoJSON with mixed order of properties in features is a valid object and accessing it via index (as done now in TGVE) is a bug.

[2022-06-20 08:33] layik commented on #162
Test [dataset](https://data.osmbuildings.org/0.2/anonymous/tile/15/17605/10743.json).

[2022-06-20 11:56] #162 closed, assigned to layik

[2022-09-09 12:00] layik opened #167 "Release 1.5.1"
There needs to be more testing before the above version is released after #164. Minor fix needed as well:
- [x] function urlCallback mis-rename
- [x] reset button does not reset separate geography

[2022-09-15 07:38] #167 closed, assigned to nobody

[2022-10-03 12:48] layik opened #171 "Add legend for categorical values"
Reproduce:

https://tgve.github.com/app/?lat=53.497&lng=-1.351&zoom=14.63&bea=0&pit=55&alt=1.5&defaultURL=https://data.osmbuildings.org/0.2/anonymous/tile/15/16260/10598.json

In above link pick "type" and there is no legend despite doing this when passing it to DeckGL.

![image](https://user-images.githubusercontent.com/408568/193580238-ce796ca8-c895-4e41-8cdb-78b8144d1b7f.png)

[2022-10-04 13:26] #171 closed, assigned to nobody

[2022-10-04 13:28] layik opened #172 "Draggable legend"
* add a draggable React component
* use it on ~legend~ tooltip

[2022-10-05 13:43] #172 closed, assigned to nobody

[2022-10-14 11:44] layik commented on #161
Two ways of making sure this happens:

1. central: function to parse data once: drawback here is unnecessary processing
2. react: let react handle components that parse the data: above draw back is taken care of, only when needed processing is done by various components.
3.
see https://github.com/tgve/tgvejs/commit/57bfddac21ec33adce03fc5178e4422ad56ef3e3